<div class="categories-container">
  <div class="categories-title">
    <h1 class="text">LOG IN</h1>
  </div>
</div>
<%= form_with(url: login_path) do |form| %>
  <% if flash[:error] %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

<div class="field-login">
  <%= form.email_field :email, placeholder: 'Email', class: 'login-input' %>
</div>

<div class="field-login">
  <%= form.password_field :password, placeholder: 'Password', class: 'login-input' %>
</div>

<div class="actions">
  <%= form.submit "LOG IN", class: 'login-button' %>
    <%= link_to "SIGN UP", sign_up_path, class: 'login-button' %>
</div>
  <% end %>
