<div class="categories-container">
  <div class="categories-title">
    <%= link_to categories_path do %>
      <i class="fas fa-chevron-left white-symbol"></i>
    <% end %>
    <h1 class="text">NEW CATEGORY</h1>
  </div>
  
  <%= form_with(model: @category, url: categories_path) do |form| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field-new-category">  
      <%= form.label :name, "NAME" %>
      <%= form.text_field :name, required: true, class: 'category-input' %>
    </div>
    <div class="field-new-category">  
      <%= form.label :icon, "ICON" %>
      <%= form.text_field :icon, required: true, class: 'category-input' %>
    </div>

    <div class="actions">
      <%= form.submit "CREATE CATEGORY", class: "create-button" %>
    </div>
  <% end %>
</div>
