<div class="categories-container">
  <div class="categories-title">
    <%= link_to categories_path do %>
      <i class="fas fa-chevron-left white-symbol"></i>
    <% end %>
    <h1 class="text">DETAILS</h1>
  </div>
</div>  

<div class="complete-purchase-detail-container">
<div class="category-transactions-container">
<p class="icon-container">
  <%= image_tag(@category.icon, alt: @category.name, class: "category-image") %>
</p>
<p class="category-name", style="color: #434b54;"><%= @category.name %></p>
<% total_amount = @category.category_transactions.sum { |ct| ct.purchase.amount } %>
<div class="total-box text">
  <p class="total-amount sum-text">$<%= total_amount %></p>
</div>
</div>

<% @category.category_transactions.order(created_at: :desc).each do |category_transaction| %>
  <% purchase = category_transaction.purchase %>
  <div class="transaction-box">
    <p style="color: #434b54;"><strong>Transaction: <%= purchase.name %></strong></p>
    <p style="color: #434b54;">Created at: <%= purchase.created_at %></p>
  </div>
<% end %>
</div>
<%= link_to "NEW TRANSACTION", new_category_purchase_path(@category), class: "new-transaction-button" %>